@font-face {
    font-family: 'jetbrains_monoregular';
    src: url('/fonts/jetbrainsmono-regular-webfont.woff2') format('woff2'), url('/fonts/jetbrainsmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-color: black;
    background-image: url("/images/stars1.PNG");
    background-repeat: repeat;
    font-family: jetbrains_monoregular, Helvetica, sans-serif;
    line-height: 1.5em;
    color: white;
}

header {
    font-family: jetbrains_monoregular, Helvetica, sans-serif;
    text-align: center;
}

.body {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    .grid-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid-item:hover {
        transform: scale(1.2);
    }
}