@font-face {
    font-family: "jetbrains_monoregular";
    src: url("/fonts/jetbrainsmono-regular-webfont.woff2") format("woff2"),
        url("/fonts/jetbrainsmono-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: jetbrains_monoregular, Helvetica, sans-serif;
    line-height: 1.5em;
    background-color: black;
    color: white;
    height: 100%;
    overflow-x: hidden;

    body {
        width: 100%;
    }
}
h1 {
    text-align: center;
    @media screen and (min-width: 508px) {
        font-size: 3rem;
    }
    &.top {
        background: rgba($color: #000000, $alpha: 0.5);
    }
}

.welcome-mat {
    height: 100vh;
    overflow-y: hidden;

    .banner {
        top: 0px;
        left: 0px;
        align-items: center;
        justify-content: center;
        display: flex;
        height: fit-content;
        overflow-y: hidden;

        .logo-container {
            @media screen and (min-width: 900px) {
                margin-top: -5em;
            }
            @media screen and (max-width: 900px) {
                margin-top: -2em;
            }
            @media screen and (max-width: 800px) and (min-height: 500px) {
                margin-top: 20vh;
            }
            max-width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            .logo {
                z-index: 10;
                margin: auto;
                height: auto;
                width: auto;
                max-height: 90vh;
                max-width: 90vw;
                animation: float 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
            }
        }
        @keyframes float {
            $top: 1em;
            $bottom: 2em;
            0% {
                margin-top: $top;
                margin-bottom: $bottom;
            }
            50% {
                margin-top: calc($top + $bottom);
                margin-bottom: 0px;
            }
            100% {
                margin-top: $top;
                margin-bottom: $bottom;
            }
        }
    }

    .stars-container {
        background: black repeat;
        //background-attachment: fixed;
        position: fixed; //absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: -10;
        width: 100%;
        height: 150%;
        overflow-x: hidden;
        overflow-y: hidden;

        @mixin stars-child($anim, $time, $opacity) {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            animation: $anim $time linear infinite;
            opacity: $opacity;
        }
        .stars1 {
            @include stars-child(slide, 10s, 100%);
            background: url(/images/stars/1.png) repeat center;
        }
        .stars2 {
            @include stars-child(slide, 20s, 95%);
            background: url(/images/stars/2.png) repeat center;
        }
        .stars3 {
            @include stars-child(slide, 30s, 90%);
            background: url(/images/stars/3.png) repeat center;
        }
        .stars4 {
            @include stars-child(slide, 40s, 85%);
            background: url(/images/stars/4.png) repeat center;
        }
        .stars5 {
            @include stars-child(slide, 50s, 80%);
            background: url(/images/stars/5.png) repeat center;
        }
        .stars6 {
            @include stars-child(slide, 60s, 75%);
            background: url(/images/stars/6.png) repeat center;
        }
        .spacecore {
            @include stars-child(longslide, 120s, 100%);
            background: url(/images/stars/space.png) repeat center;
        }
        .vignette {
            background: url(/images/stars/fg.png) center center no-repeat;
            background-size: auto;
            background-size: 100% 100%;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }

        @keyframes slide {
            from {
                background-position: 0px;
            }
            to {
                background-position: 900px;
            }
        }
        @keyframes longslide {
            from {
                background-position: 0px;
            }
            to {
                background-position: 8192px;
            }
        }
    }

    .social-links-grid {
        position: absolute;
        top: 4em;
        left: 0px;
        float: left;
        //background-color: black;
        width: auto;
        max-width: 25%;
        height: 90vh;
        display: grid;
        gap: 2rem;
        grid-template-rows: repeat(5, 1fr);
        .social-links-grid-item {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: rgba($color: #000000, $alpha: 0.5);
            border-radius: 20%;
            animation-name: social-links-grid-unhover;
            animation-duration: 0.25s;
            transform: scale(1);
            img {
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 75%;
            }
        }
        .social-links-grid-item:hover {
            animation-name: social-links-grid-hover;
            animation-duration: 0.25s;
            transform: scale(1.2);
        }
        @keyframes social-links-grid-hover {
            from {
                transform: scale(1);
            }
            to {
                transform: scale(1.2);
            }
        }

        @keyframes social-links-grid-unhover {
            from {
                transform: scale(1.2);
            }
            to {
                transform: scale(1);
            }
        }
    }
}

.content {
    .bio {
        background-color: rgba(0, 0, 0, 0.74);
        font-size: large;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    display: block;
    a {
        text-decoration: none;
        color: white;
        &:link, &:visited, &:hover, &:active {
            text-decoration: none;
            color: white;
        }
    }
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.589);
    min-height: 1000px;
    .margined-section {
        margin: 10vw;
    }
    .content-grid {
        display: grid;
        @media screen and (max-width: 900px){
            grid-template-columns: repeat(auto-fit, min-max(256px, 1fr));
            grid-auto-rows: repeat(auto-fit, 15em);
        }
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 15em;
        gap: 1rem;
        .content-grid-item {
            border-radius: 25px;
            border-width: 0px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            //background: red;
            transform: scale(1, 1);
            animation: unhover-item 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            background-position: center center;
            background-size:cover;
            z-index: 2;
            &:hover {
                z-index: 5;
                animation: hover-item 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: scale(1.1, 1.1);
                h2 {
                    animation: h2-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    opacity: 100%;
                    transform: translate(0%, 0%);
                }

            }

            h2 {
                text-align: center;
                background-color: rgba(#000000, $alpha: 0.1);
                border-radius: 25%;
                animation: h2-out 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                opacity: 0%;
                transform: translate(0%, -100%);
            }
        }
        //unused
        .info-overlay {
            z-index: 10;
            position: fixed;
            padding: 0;
            margin: 0;
            height: 100vh;
            top: 0px;
            display: none;
            left: 0px;
            right: 0px;
            //width: 100%;
            background-color: blue;
            .info-item {
                height: 100%;
                background: black;
            }
        }

        @keyframes hover-item {
            from {
                transform: scale(1, 1);
                z-index: 2;
            }

            to {
                transform: scale(1.1, 1.1);
                z-index: 5;
            }
        }
        @keyframes unhover-item {
            from {
                transform: scale(1.1, 1.1);
                z-index: 5;
            }
            to {
                transform: scale(1, 1);
                z-index: 2;
            }
        }

        @keyframes h2-in {
            from {
                opacity: 0%;
                transform: translate(0%, -100%);
            }
            to {
                opacity: 100%;
                transform: translate(0%, 0%);
            }
        }
        @keyframes h2-out {
            from {
                opacity: 100%;
                transform: translate(0%, 0%);
            }
            to {
                opacity: 0%;
                transform: translate(0%, -100%);
            }
        }

        @keyframes info-overlay-in {
            from {
                top: 100vh;
                display: none;
            }
            to {
                top: 0vh;
                display: block;
            }
        }
    }
}
