body {
    background-color: black;
    color: white;
    font-size: 40px;
}

button {
    background-color: white;
    color: black;
    border-radius: 4px;
    font-size: 20px;
}

button:hover {
    background-color: black;
    color: white;
}

.centred {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

a.home {
    margin-top: 0;
    margin-left: 0;
    color: white;
}