<div class="header">
    <div class="site-title">
        <h1 class="intangibletitle">IntangibleMatter</h1>
    </div>
    <div id="nav-border" class="nav-wrapper">
        <nav id="nav" class="nav-menu">
            {{ range .Site.Menus.main }}
            <a class="nav-link" href="{{ .URL }}">
                <!--{{ if .Pre }} {{ $icon := printf "<img class=\"icon\" src=\"/static/images/icons/%s.svg\" />" .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}-->
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
            </a>
            {{ end }}
        </nav>
    </div>
</div>